h2{
    padding: 30px 35px;
    margin: -10px -50px;
    text-align:center;
    border-radius: 10px 10px 0 0;
}
hr{
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
}


    .form-container{

width: 100%;

align-items: center;

display: flex;

justify-content: center;

}

    #form_id {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-container-submit{
        width: 100%;

align-items: center;

display: flex;

justify-content: center;
    }
