body {
    background-color: #EFEFEF;
}

h2, h3{
    padding: 10px 35px;
    margin: -10px -50px;
    text-align:center;
    border-radius: 10px 10px 0 0;
    font-family: Arial;
    font-weight: normal;
    color: #67BD9A;
}
hr{
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
}

.main h2 {
    font-size: 33px;
    font-weight: bold;
}

.main h3 {
    font-size: 14px;
    padding-bottom: 30px ;
    font-weight: 400;
}

/*logo*/

.logo {
    width: 100px;
    height: 50px;
}

.logodiv {
    margin-top: 118px;
    margin-bottom: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*placeholders username & password */
.password::placeholder, .username::placeholder {
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    color: #67BD9A;
    padding-left: 40px;
}

/*username*/

    .form-container-username{

width: 100%;

align-items: center;

display: flex;

justify-content: center;



}

.username {
    background-image: url('icons/Icon_profiel.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 8%;
    background-position-x: 15px;
}

/*password*/

.form-container-passw{

    width: 100%;
    
    align-items: center;
    
    display: flex;
    
    justify-content: center;
    
    
    
    }

    .password {
        background-image: url('icons/Icon_wachtwoord.svg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 8%;
    background-position-x: 15px;
    }
    

    #form_id {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

/*button*/

    .form-container-submit{
        width: 100%;

align-items: center;

display: flex;

justify-content: center;
    }

    .btn { 
        width: 295px;
        border-radius: 15px;
        background-color: #67BD9A;
        color: #EFEFEF;
        font-family: arial;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        opacity: 0.9;
        border: none;
        margin-top: 125px;
        margin-bottom: 61px;
        font-size: 22px;
    }

    input[type=text], select {
        width: 295px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
        background-color: #efefef;
        text-align: left;
      }

      input[type=password], select {
        width: 295px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
        background-color: #efefef;
      }